@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
/*=====================
    Table of contents
  =====================

  #1. CSS Variables

  #2. General elements

  #3. Layout

  #4. Header

  #5. Content

  #6. Footer

*/

/*=================
  #1. CSS variables
  =================*/

:root {
  --font-primary: 'Montserrat', sans-serif;
  --color-primary-100: hsl(171, 34%, 64%);
}

/*===================
  2. General elements
  ===================*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body,
html {
  font-family: var(--font-primary);
}

/*=================
    3. Typography
  =================*/


a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/*===============
    4. Layout
  ===============*/

.container, .turn-portrait {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.turn-portrait {
  opacity: 0;
}

/*===============
    5. Header
  ===============*/

/*===============
    6. Content
  ===============*/

/*===============
    7. Footer
  ===============*/

/*================
    8. Animations
  ================*/

.primary-layout-entering {
  animation: 2s fadeIn alternate;
}

.primary-layout-leaving {
  animation: 2s fadeOut alternate;
}

@keyframes fadeOut {
  0% {
    transform: translateY(0%);
  }
  
  10% {
    transform: translateY(5%);
  }
  
  100% {
    transform: translateY(-120%);
  }
}

@keyframes fadeIn {
  0% {
    width: 100%;
    transform: translateY(100%);
  }

  10% {
    width: 100%;
    transform: translateY(95%);
  }

  100% {
    width: 100%;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 812px) and (orientation:landscape){
  .container {
    display: none;
  }
  .turn-portrait  {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s blinkText infinite;
    
  }

  @keyframes blinkText {
    0% {
      opacity: 10%;
    }
    50% {
      opacity: 90%;
    }
    100% {
      opacity: 10%;
    }
  }
}
